:root {
	--primary-text-color: #212121;
	--secondary-text-color: #ffffff;
	--third-text-color: #2196f3;
	--card-text-color: #757575;
	--bcg-cards: #ffffff;
	--bcg-hero-section: #f5f4fa;
	--bcg-dark: #2f303a;
	--button-on-action-color: #188ce8;
	--border-footer: #ececec;
	--border-projects-cards: #eeeeee;
	--contact-icon-no-hover: #757575;
	--icons-primary-color: #afb1b8;
	--team-cards-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	--button-secondary-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	--project-card-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	--footer-socials-background: rgba(255, 255, 255, 0.1);
}
body {
	color: var(--primary-text-color);
	font-family: "Roboto", sans-serif;
}
.header-background {
	background-color: var(--secondary-text-color);
	border: 1px solid var(--border-footer);
	border-top: var(--secondary-text-color);
	border-right: var(--secondary-text-color);
	border-left: var(--secondary-text-color);
}
.logo-link {
	font-family: "Raleway", sans-serif;
	color: var(--third-text-color);
	text-decoration: none;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.logo-black {
	color: var(--primary-text-color);
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	font-weight: 500;
	font-size: 26px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.nav-list.link {
	color: var(--primary-text-color);
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.nav-list .link.current {
	color: var(--third-text-color);
	text-decoration: none;
	font-weight: 500;
}
.nav-list .link:hover,
.nav-list .link:focus {
	color: var(--third-text-color);
}
.wide-hover {
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	text-decoration: none;
	font-weight: 500;
}
.portfolio-link:hover,
.portfolio-link:focus {
	color: var(--third-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
	color: var(--third-text-color);
}
.email,
.telephone {
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--card-text-color);
	text-decoration: none;
	font-weight: 500;
	padding-top: 32px;
	padding-bottom: 32px;
}
.email:hover,
.email:focus,
.telephone:hover,
.telephone:focus {
	color: var(--third-text-color);
}
.email:hover .icon-email,
.email:focus .icon-email {
	fill: var(--third-text-color);
}
.telephone:hover .icon-smartphone,
.telephone:focus .icon-smartphone {
	fill: var(--third-text-color);
}
.dark-bcg {
	background-color: var(--bcg-dark);
}
.main-title {
	color: var(--secondary-text-color);
	font-size: 44px;
	font-weight: 900;
	line-height: 1.4;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.button-main {
	color: var(--secondary-text-color);
	background-color: var(--third-text-color);
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;
	border: none;
}
.button-main:hover,
.button-main:focus {
	color: var(--secondary-text-color);
	background-color: var(--button-on-action-color);
}
.features-list > .features {
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-text-color);
}
.features-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}
.features-text {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--card-text-color);
	text-transform: none;
	margin-top: 10px;
}
.projects {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-align: center;
}
.our-projects {
	background-color: var(--bcg-cards);
}
.cards-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 0.03em;
}
.team-cards {
	background-color: var(--bcg-hero-section);
}
.team-list {
	background-color: var(--bcg-cards);
	box-shadow: var(--team-cards-shadow);
	border-radius: 0px 0px 4px 4px;
}
.hero-title {
	color: var(--primary-text-color);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-align: center;
}
.hero-speciality {
	color: var(--card-text-color);
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-align: center;
}
.casual-clients {
	font-weight: 700;
	line-height: 1.2;
	font-size: 36px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}
.footer-bcg {
	background-color: var(--bcg-dark);
}
.logo-white {
	color: var(--secondary-text-color);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
}
.map-adress {
	color: var(--secondary-text-color);
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.footer-email {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.footer-telephone {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.map-adress:hover,
.map-adress:focus,
.footer-email:hover,
.footer-email:focus,
.footer-telephone:hover,
.footer-telephone:focus {
	color: var(--third-text-color);
}
/* убераем точки в списке на превью */
ul {
	list-style: none;
}
/* скрываем загловки */
.hidden-title {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* конец index.html */
.studio-link {
	font-size: 16px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	text-decoration: none;
	font-weight: 500;
}
.studio-link:hover,
.studio-link:focus {
	color: var(--third-text-color);
}
.nav-list .portfolio.current {
	color: var(--third-text-color);
	text-decoration: none;
	font-weight: 500;
}
.nav-list .portfolio.current:hover,
.nav-list .portfolio.current:focus {
	color: var(--third-text-color);
}
.button-secondary {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	background-color: var(--bcg-cards);
	cursor: pointer;
	font-family: inherit;
}
.button-secondary:hover,
.button-secondary:focus {
	color: var(--bcg-cards);
	background-color: var(--third-text-color);
	box-shadow: var(--button-secondary-shadow);
}
.button-secondary.current {
	color: var(--secondary-text-color);
	background-color: var(--third-text-color);
	cursor: pointer;
}
.portfolio-projects {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	color: var(--primary-text-color);
	letter-spacing: 0.06em;
}
.projects-description {
	color: var(--card-text-color);
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
}
/*portfolio end */

/* позиционирование Studio (флексы, контейнер..... */
.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.container-header {
	width: 1200px;
	display: flex;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.main-nav {
	display: flex;
	align-items: center;
}
.nav-list {
	display: flex;
	align-items: center;
	margin-left: 93px;
}
.wide-hover {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
}
.nav-list .list + .list {
	margin-left: 50px;
}
.logo-link {
	display: flex;
	padding-top: 24px;
	padding-bottom: 24px;
}
.contacts-list {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.contact-email {
	display: block;
	margin-right: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
	margin: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
}
.section {
	padding-top: 200px;
	padding-bottom: 200px;
}
.main-title {
	width: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.button-main {
	display: block;
	min-width: 216px;
	padding: 10px 32px;
	border-radius: 4px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.section-features {
	padding-top: 94px;
	padding-bottom: 94px;
}
.features-list {
	display: flex;
}
.features {
	display: block;
	width: 270px;
	margin-left: 30px;
}
.features-list li:first-child {
	margin-left: 0;
}
.our-projects {
	padding-bottom: 94px;
}
.projects-list {
	display: flex;
	margin-top: 50px;
}
.project-image {
	display: block;
	margin-left: 30px;
}
.projects-list li:first-child {
	margin-left: 0px;
}
.team-cards {
	padding-top: 94px;
	padding-bottom: 94px;
}
.cards-info {
	padding: 30px;
}
.cards-title {
	text-align: center;
}
.hero-title {
	margin-bottom: 10px;
}
.team-members {
	display: flex;
	margin-top: 50px;
}
.team-list {
	display: block;
	margin-left: 30px;
}
.team-members li:first-child {
	margin-left: 0px;
}
.footer-bcg {
	padding-top: 60px;
	padding-bottom: 60px;
}
.contact-info {
	margin-top: 20px;
}
.footer-contacts {
	display: block;
}
.footer-info {
	display: block;
	margin-top: 9px;
}
.footer-contacts li:first-child {
	margin-top: 0px;
}
/* ПОЗИЦИОНИРОВАНИЕ PORTFOLIO */
.main-portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}
.button-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.button-margin {
	margin-left: 8px;
}
.button-secondary {
	display: block;
	min-width: 73px;
	padding: 8px 22px;
	border-radius: 4px;
	background-color: var(--bcg-hero-section);
	border: none;
}

.ready-projects {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.flex-element {
	max-width: 370px;
}
.flex-element-link {
	display: block;
	text-decoration: none;
}
.flex-element-link:hover,
.flex-element-link:focus {
	box-shadow: var(--project-card-shadow);
}
.projects-description {
	margin-top: 4px;
}
.projects-info {
	padding: 20px 24px;
	border: 1px solid var(--border-projects-cards);
	border-top: none;
}
/* svg, фоновые изображения */
.email,
.telephone {
	display: flex;
	align-items: center;
}
.icon-email,
.icon-smartphone {
	margin-right: 10px;
	fill: var(--contact-icon-no-hover);
}

.dark-bcg {
	min-height: 600px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.icon-features {
	display: flex;
	width: 270px;
	height: 120px;
	background-color: var(--bcg-hero-section);
	margin-bottom: 30px;
	border-radius: 4px;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
}
.socials-hero {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}
.socials-link {
	display: flex;
	border-radius: 50%;
	width: 44px;
	height: 44px;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary-text-color);
	fill: var(--icons-primary-color);
	cursor: pointer;
}
.socials-link:hover,
.socials-link:focus {
	fill: var(--secondary-text-color);
	background-color: var(--third-text-color);
}

.title-socials {
	display: block;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--secondary-text-color);
	margin-bottom: 20px;
}

.social-link-footer {
	display: flex;
	width: 44px;
	height: 44px;
	fill: var(--secondary-text-color);
	background-color: var(--footer-socials-background);
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.social-link-footer:hover,
.social-link-footer:focus {
	background-color: var(--third-text-color);
}
.general-box-one {
	display: block;
}
.general-box-two {
	display: block;
	margin-left: 70px;
}
.container.footer {
	display: flex;
	align-items: baseline;
}
.links-icons-footer {
	display: flex;
	gap: 10px;
}
.logo-link.footer-logo {
	padding: 0;
}
.box-logo {
	display: block;
}
.clients {
	padding-bottom: 94px;
	padding-top: 94px;
}
.companies-list {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 50px;
}
.company-logo {
	display: flex;
	width: 170px;
	height: 92px;
}
.company-link {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--icons-primary-color);
	border-radius: 4px;
	fill: var(--icons-primary-color);
	cursor: pointer;
}
.company-link:hover,
.company-link:focus {
	fill: var(--third-text-color);
	border: 1px solid var(--third-text-color);
}
/* Позиционирование absolute, relative, fixed.... ; анимации, модалка */
.nav-list .current {
	position: relative;
}
.nav-list .current::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--third-text-color);
}
.wide-hover,
.email,
.telephone,
.icon-email,
.icon-smartphone,
.button-main,
.socials-link,
.company-link,
.footer-info a,
.social-link-footer,
.button-secondary,
.flex-element-link {
	transition-property: color, fill, background-color, border, box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-image {
	position: relative;
}
.projects-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--secondary-text-color);
	background-color: rgba(47, 48, 58, 0.8);
	padding-top: 25px;
}
.overlay {
	position: relative;
	overflow: hidden;
}
.overlay-text {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 63px 24px;
	top: 0;
	left: 0;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.03em;
	background-color: var(--third-text-color);
	color: var(--secondary-text-color);
}
.flex-element-link:hover .overlay-text,
.flex-element-link:focus .overlay-text {
	transform: translateY(0);
}
/* модалка index html */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	visibility: visible;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	height: 581px;
	z-index: 2;
	background-color: var(--secondary-text-color);
}
.close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: var(--bcg-cards);
}
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
