:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --third-text-color: #2196f3;
  --card-text-color: #757575;
  --bcg-cards: #ffffff;
  --bcg-hero-section: #f5f4fa;
  --bcg-dark: #2f303a;
  --button-on-action-color: #188ce8;
}
body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}
.header-background {
  background-color: var(--secondary-text-color);
}
.logo-link {
  font-family: 'Raleway', sans-serif;
  color: var(--third-text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo-black {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list.link {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list .link.current {
  color: var(--third-text-color);
  text-decoration: none;
  font-weight: 500;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--third-text-color);
}
.portfolio-link,
.contacts-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
}
.portfolio-link:hover,
.portfolio-link:focus {
  color: var(--third-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--third-text-color);
}
.email,
.telephone {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--card-text-color);
  text-decoration: none;
  font-weight: 500;
}
.email:hover,
.email:focus,
.telephone:hover,
.telephone:focus {
  color: var(--third-text-color);
}
.dark-bcg {
  background-color: var(--bcg-dark);
}
.main-title {
  color: var(--secondary-text-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-main {
  color: var(--secondary-text-color);
  background-color: var(--third-text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.button-main:hover,
.button-main:focus {
  color: var(--secondary-text-color);
  background-color: var(--button-on-action-color);
}
.features-list > .features {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--card-text-color);
  text-transform: none;
}
.projects {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.cards-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team-cards {
  background-color: var(--bcg-hero-section);
}
.team-list {
  background-color: var(--bcg-cards);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.hero-title {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.hero-speciality {
  color: var(--card-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer-bcg {
  background-color: var(--bcg-dark);
}
.logo-white {
  color: var(--secondary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.map-adress {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-email {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-telephone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.map-adress:hover,
.map-adress:focus,
.footer-email:hover,
.footer-email:focus,
.footer-telephone:hover,
.footer-telephone:focus {
  color: var(--third-text-color);
}
/* убераем точки в списке на превью */
.nav-list,
.contacts-list,
.features-list,
.projects-list,
.team-list,
.button-list,
.ready-projects {
  list-style: none;
}
/* скрываем загловки */
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* конец index.html */
.studio-link {
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
}
.studio-link:hover,
.studio-link:focus {
  color: var(--third-text-color);
}
.nav-list .portfolio.current {
  color: var(--third-text-color);
  text-decoration: none;
  font-weight: 500;
}
.nav-list .portfolio.current:hover,
.nav-list .portfolio.current:focus {
  color: var(--third-text-color);
}
.button-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--bcg-cards);
  cursor: pointer;
  font-family: inherit;
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--bcg-cards);
  background-color: var(--third-text-color);
}
.button-secondary.current {
  color: var(--secondary-text-color);
  background-color: var(--third-text-color);
  cursor: pointer;
}
.portfolio-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-description {
  color: var(--card-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
/*portfolio end */
