:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --third-text-color: #2196f3;
  --card-text-color: #757575;
  --bcg-cards: #ffffff;
  --bcg-hero-section: #f5f4fa;
  --bcg-dark: #2f303a;
  --button-on-action-color: #188ce8;
  --border-footer: #ececec;
  --border-projects-cards: #eeeeee;
}
body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}
.header-background {
  background-color: var(--secondary-text-color);
  border: 1px solid var(--border-footer);
  border-top: var(--secondary-text-color);
  border-right: var(--secondary-text-color);
  border-left: var(--secondary-text-color);
}
.logo-link {
  font-family: 'Raleway', sans-serif;
  color: var(--third-text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
}
.logo-black {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list.link {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list .link.current {
  color: var(--third-text-color);
  text-decoration: none;
  font-weight: 500;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--third-text-color);
}
.wide-hover {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
}
.portfolio-link:hover,
.portfolio-link:focus {
  color: var(--third-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--third-text-color);
}
.email,
.telephone {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--card-text-color);
  text-decoration: none;
  font-weight: 500;
}
.email:hover,
.email:focus,
.telephone:hover,
.telephone:focus {
  color: var(--third-text-color);
}
.dark-bcg {
  background-color: var(--bcg-dark);
}
.main-title {
  color: var(--secondary-text-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-main {
  color: var(--secondary-text-color);
  background-color: var(--third-text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.button-main:hover,
.button-main:focus {
  color: var(--secondary-text-color);
  background-color: var(--button-on-action-color);
}
.features-list > .features {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--card-text-color);
  text-transform: none;
  margin-top: 10px;
}
.projects {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.our-projects {
  background-color: var(--bcg-cards);
}
.cards-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team-cards {
  background-color: var(--bcg-hero-section);
}
.team-list {
  background-color: var(--bcg-cards);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.hero-title {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.hero-speciality {
  color: var(--card-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.footer-bcg {
  background-color: var(--bcg-dark);
}
.logo-white {
  color: var(--secondary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.map-adress {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-email {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-telephone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.map-adress:hover,
.map-adress:focus,
.footer-email:hover,
.footer-email:focus,
.footer-telephone:hover,
.footer-telephone:focus {
  color: var(--third-text-color);
}
/* убераем точки в списке на превью */
.nav-list,
.contacts-list,
.features-list,
.projects-list,
.team-list,
.button-list,
.ready-projects {
  list-style: none;
}
/* скрываем загловки */
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* конец index.html */
.studio-link {
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
}
.studio-link:hover,
.studio-link:focus {
  color: var(--third-text-color);
}
.nav-list .portfolio.current {
  color: var(--third-text-color);
  text-decoration: none;
  font-weight: 500;
}
.nav-list .portfolio.current:hover,
.nav-list .portfolio.current:focus {
  color: var(--third-text-color);
}
.button-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--bcg-cards);
  cursor: pointer;
  font-family: inherit;
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--bcg-cards);
  background-color: var(--third-text-color);
}
.button-secondary.current {
  color: var(--secondary-text-color);
  background-color: var(--third-text-color);
  cursor: pointer;
}
.portfolio-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: center;
}
.projects-description {
  color: var(--card-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
}
/*portfolio end */

/* позиционирование Studio (флексы, контейнер..... */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-header {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main-nav {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list {
  display: flex;
  align-items: center;
  padding-left: 0px;
}
.nav-list .wide-hover {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list .list + .list {
  margin-left: 50px;
}
.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.link.current,
.studio-link {
  margin-left: 93px;
}
.email {
  display: inline-block;
  margin-right: 50px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
.features-list li:first-child {
  margin-left: 0;
}
.main-title {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}
.button-main {
  display: inline-block;
  min-width: 216px;
  padding: 10px 32px;
  border-radius: 4px;
  margin-top: 26px;
}
.container.button {
  display: flex;
  justify-content: center;
  padding-bottom: 210px;
}
.features-list {
  display: flex;
  padding-top: 94px;
}
.features {
  display: block;
  margin-left: 30px;
}

.projects {
  padding-top: 94px;
}
.projects-list {
  display: flex;
  margin-top: 50px;
}
.project-image {
  display: block;
  margin-left: 30px;
  padding-bottom: 94px;
}
.projects-list li:first-child {
  margin-left: 0px;
}
.cards-title {
  text-align: center;
  padding-top: 94px;
}
.cards-flex > ul {
  display: flex;
  padding-bottom: 94px;
}
.team-list {
  display: block;
  margin-left: 30px;
  margin-top: 50px;
}
.team-members li:first-child {
  margin-left: 0px;
}
.footer-logo {
  padding-top: 60px;
}
.footer-contacts {
  display: block;
  margin-top: 20px;
  padding-bottom: 60px;
}
.footer-info {
  display: block;
  margin-top: 9px;
}
.footer-contacts li:first-child {
  margin-top: 0px;
}
/* ПОЗИЦИОНИРОВАНИЕ PORTFOLIO */
.button-list {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.button-secondary {
  display: block;
  min-width: 73px;
  margin-left: 8px;
  padding: 8px 22px;
  border-radius: 4px;
  background-color: var(--bcg-hero-section);
  border: 1px solid var(--secondary-text-color);
}
.button-secondary.current {
  margin-left: 0px;
  padding: 8px 25px;
}
.ready-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 94px;
}
.ready-projects li {
  border-bottom: 1px solid var(--border-projects-cards);
  border-left: 1px solid var(--border-projects-cards);
  border-right: 1px solid var(--border-projects-cards);
}
.flex-element {
  max-width: 370px;
}
