.section-features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features {
    display: flex;
}

.features__item {
    display: block;
    width: 270px;
    margin-left: 30px;
}
.features__item {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-text-color;
}
.features__icon {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: $bcg-hero-section;
    margin-bottom: 30px;
    border-radius: 4px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.features__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $card-text-color;
    text-transform: none;
    margin-top: 10px;
}

.features li:first-child {
    margin-left: 0;
}