.footer-form {
    margin-top: 60px;
    @media screen and (min-width: 768px) {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    
    }
    @media screen and (min-width: 1200px) {
    display: block;
    margin-left: 93px;
    margin-top: 0;
    width: auto;
    }
    
}

.footer-form__title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-text-color;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 768px) {
    text-align: inherit;    
    }
}

.footer-form__box {
    @media screen and (min-width: 768px) {
    position: relative;
    }
}
.footer-form__info {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 @media screen and (min-width: 768px) {
 display: block;   
 }    
}

.footer-form__input {
    width: 428px;
    height: 20px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid $footer-form-input-border;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px $modal-btn-shadow);
    background-color: $bcg-dark;
    color: $secondary-text-color;
    outline: none;
    @media screen and (min-width: 768px) {
    width: 450px;
    height: 50px;    
    }
    @media screen and (min-width: 1200px) {
    width: 358px;
    }
}

.button-form {
    @media screen and (min-width: 1200px) {
    position: absolute;
        top: 50%;
        left: 100%;
        margin: 0;
        margin-left: 12px;
        transform: translateY(-50%);
    }
    @media screen and (max-width: 1199px) {
    margin: 0 auto;
    margin-top: 20px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: $third-text-color;
    color: $secondary-text-color;
    box-shadow: 0px 4px 4px $modal-btn-shadow;
    cursor: pointer;

    &:hover, &:focus {
    background-color: $button-on-action-color;
    }
}
.button-form__icon {
    display: flex;
    margin-left: 10px;
    fill: $secondary-text-color;
}
