.ready-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (max-width: 767px) {
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    }
}

.ready-projects__item {
    width: 290px;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}

.ready-projects__link {
    display: block;
    text-decoration: none;

    &:hover, &:focus {
    box-shadow: $project-card-shadow;
    }
}
.ready-projects__info {
    padding: 20px 24px;
    border: 1px solid $border-projects-cards;
    border-top: none;
}
.ready-projects__info--modified {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 56px;
    }
}
.ready-projects__name {
    font-weight: 700;
    @media screen and (max-width: 480px) {
    font-size: 18px;
        line-height: 2;
    }
    @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 2;
    }
    font-size: 18px;
    line-height: 2;
    color: $primary-text-color;
    letter-spacing: 0.06em;
    @media screen and (min-width: 768px) {
        
    }
}
.ready-projects__img {
    display: block;
    object-fit: cover;
    width: 290px;
    height: 294px;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}

.ready-projects__description {
    margin-top: 4px;
    color: $card-text-color;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
.overlay {
    position: relative;
    overflow: hidden;
}

.overlay__text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 77px 24px;
    font-size: 18px;
    line-height: 28px;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    letter-spacing: 0.03em;
    background-color: $third-text-color;
    color: $secondary-text-color;
    @media screen and (max-width: 479px) {
    font-size: 14px;
    line-height: 22px;
    }
    @media screen and (min-width: 1200px) {
    padding: 63px 24px;    
    }

    .ready-projects__link:hover &, .ready-projects__link:focus & {
    transform: translateY(0);
    }
}