.team-cards {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bcg-hero-section;
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}
.team-cards__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    @media screen and (min-width: 768px) {
    font-size: 36px;
    }
}
.team-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    @media  screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;    
    }
    @media screen and (min-width: 1200) {
    flex-direction: row;
    }
}
.team-members__photo {
display: block;
min-width: 270px;
height: auto;
object-fit: cover;
@media screen and (min-width: 480px) {
width: 450px;
}
@media screen and (min-width: 768px) {
width: 354px;    
}
@media screen and (min-width: 1200px) {
width: 270px;
}
}
.team-members li:first-child {
    margin-left: 0px;
}
.team-members__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 270px;
    margin-bottom: 30px;
    background-color: $bcg-cards;
    box-shadow: $team-cards-shadow;
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 480px) {
    width: 450px;
    }
    @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 354px;
    }
    @media screen and (min-width: 1200px) {
    width: 270px;    
    }
    &:last-child {
    margin-bottom: 0;
    }
}
.cards-info {
    padding: 30px;
}
.cards-info__title {
    margin-bottom: 10px;
    color: $primary-text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.cards-info__speciality {
    color: $card-text-color;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}
.socials-team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.socials-team__link {
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    background-color: $secondary-text-color;
    fill: $icons-primary-color;
    cursor: pointer;
}

.socials-team__link:hover,
.socials-team__link:focus {
    fill: $secondary-text-color;
    background-color: $third-text-color;
}